@import url('https://fonts.googleapis.com/css2?family=Roboto+Flex:opsz,wght@8..144,100&family=Roboto:wght@100;300&display=swap'); 
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Roboto Flex', sans-serif;
    background:#000;
    color: #fff;
}
html {
    scroll-behavior:smooth;
}

.main-header {
    
    padding: 0 40px;
    color: #fff;
    /* border: #fff solid 1px; */
}
a {
    text-decoration: none;
    color: #fff;
}
span {
    font-size: 48px;
    color: aquamarine;
}

.main-nav ul {
    list-style: none;
    display: flex;
    justify-content: right;
    font-size: 22px;
    margin-bottom: 30px;

}
.main-nav ul li {
    position: relative;
    margin-right: 20px;
    padding: 30px 5px 5px 5px;
}
.main-nav ul li a::after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 2px;
    background: aquamarine;
    transform: scaleX(0);
    transition: transform 0.4s cubic-bezier(0.19,1,0.22,1); 
    /* transform-origin: right center; */
}
.main-nav ul li a:hover::after {
    transform: scaleX(1);

 /* Link underline transition effect LEFT to RIGHT  */
    /* transform-origin: left center;
    transition-duration: 0.4s; */
}
.main-wrapper {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 820px;
    padding-bottom: 100px;
}
.col-1 {
    display: flex;
    flex-direction: column;
    justify-content:space-evenly;
    align-items: flex-start;
}
.col-1 h1 {
    font-size: 75px;
}
.col-1 span {
    font-size: 45px;
    font-weight:900;
}
.col-1 p {
    font-size: 19px;
    line-height: 2;
}
.col-2 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /* border: #fff solid 1px; */
}
.wrapper-img {
    width: 100%;
    height: 100%;
}

@media  all and (max-width: 1000px) {
    .main-header {
        padding: 30px;
    }
    .main-wrapper {
        grid-template-columns: 1fr;
    }
    .col-1 h1 {
        font-size: 65px;
    }
    /* .col-1 p {

    } */
}
@media all and (max-width: 480px / 319px) {
    .main-wrapper {
        grid-template-columns: 600px;
    }
    .col-1 h1 {
        font-size: 20px;
    }
    
}
/* About Section */
.about-section {
    padding: 50px 50px;
    color: #fff;
}

.about-container {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

.about-container h1, .project-container h1 {
    font-size: 55px;
    color: #fff;
    margin-bottom: 32px;
}
.about-content {
    display: grid;
    grid-template-columns: 1fr 2fr;
    grid-template-rows: 500px;
    grid-gap: 20px;
}
.about-text {
    padding-right: 20px;
}
.about-text h2 {
    font-size: 48px;
    line-height: 1.5;
    margin-bottom: 15px;
}
.about-text p {
    line-height: 2.5;
    font-size: 17px;
}
.about-image {
    display: flex;
    justify-content: left;
}
.about-img {
    width: 280px;
    height: 310px;
    border-radius: 100%;
    /* background-position: cover; */
}

/* media queries ABOUT section */
@media screen and (max-width:1000px) {
    .about-section {
        padding: 30px;
    }
    .about-content {
        grid-template-columns: 1fr;
        grid-template-rows: 1fr;
    }
    .about-image {
        margin-top: 30px;
    }
    .about-container h1 {
        font-size: 55px;
    }
}

@media all and (max-width:480px) {
    .about-text h2 {
        font-size: 18px;
    }
    .about-img {
        width: 100%;
        height: 100%;
    }
}

/* Work Section */
.work-section {
    padding: 10px 50px;
    background: #000;
    color: #fff; 
}

.work-container {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

.work-container h1 {
    font-size: 55px;
    color: #fff;
    margin-bottom: 32px;
}

.work-content {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 600px;
}

/* FEATURED PROJECT */

.featured-project {
    display: grid;

}
.featured-img  {
    width: 100%;
    height: 99%;
    border: aquamarine dashed 1px;
}
.work-text {
    margin: 20px 0;
    padding:  20px;
    border: aquamarine dashed 1px;
    opacity: 0.8;
}
.work-text h2 {
    font-size: 32px;
    line-height: 1.1;
    margin: 25px 0px;
}

@media screen and (max-width:1000px) {
    .work-section {
        grid-template-columns: 1fr;
    }
}

@media all and (max-width:480px) {
    .about-text h2 {
        font-size: 18px;
    }
    .col-1 p {
        font-size: 20px;
    }
    .project-grid {
        width: 100%;
        height: 100%;
    }
    .work-section {
        padding: 20px;
    }
}

    /* category grid */
    #project-section {
        display: grid;
        gap: 5px;
        margin: 50px 0;
        padding: 30px 0;
        
        grid-template-rows: 300px;
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-areas: 
        "project-1 project-2 project-3";
    } 
      #project-1 {
        grid-area: project-1;
        background-image: url(/assets/images/Pre-work-study-Guide-screenshot.png);
    }
      #project-2 {
        grid-area: project-2;
        background-image: url(/assets/images/blockchain-nft-image.png);
    }
      #project-3 {
        grid-area: project-3;
        background-image: url(/assets/images/ai-image.jpg);
    }
      
      /* category grid area */
      .project-grid {
        background-position: center;
        background-size: cover;
        background-repeat: no-repeat;
        margin: 5px;
        cursor: pointer;
        display: grid;
        align-content: end;
        border: aquamarine dashed 1px;
    }
    
    .proj-heading  {
    padding: 10px;
    height: 70px;
    color: white;
    font-size: 15px;
    border: aquamarine dashed 2px;
    opacity: 0.8;
  }

  /* contact section */
  .contact-section {
    padding: 50px 50px;
    color: #fff;
}
.contact-container {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

.contact-container h1 {
    font-size: 55px;
    color: #fff;
    margin-bottom: 32px;
}
.contact-content {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 210px;
    grid-gap: 10px;
    border: aquamarine dashed 1px;
}

.contact-image {
    display: flex;
    justify-content: center;
}
.social-img {
    width: 295px;
    height: 210px;
    
}
.contact-image a {
    width: 295px;
    height: 5px;

}

/* Footer */
footer {
    position: relative;
    padding: 55px 0;
}

footer ul {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}
footer ul li {
    margin-right: 30px;
    color: #aaa;
    font-size: 13px;
    line-height: 2.5;
    list-style: none;
}

footer ul li a {
    color: #fff;
    transition: color 0.6s;
}

footer ul li a:hover {
    color: #aaa;
}


/* media queries ABOUT section */
@media screen and (max-width:1000px) {
    .contact-section {
        padding: 30px;
    }
    .project-grid h2 {
        font-size:14px;
    }
    .contact-content {
        grid-template-columns: 1fr;
        grid-auto-rows: minmax(210px, auto);
        width: 310px;
    }
    .contact-image {
        
       /* margin-top: 30px; */
    }
    .work-text h2 {
        font-size: 25px;
    }

}

@media all and (max-width:480px) {
    
    .contact-img {
        width: 300px;
        height: 210px;
    }
   
    #project-section {
        grid-template-columns: 1fr;
    }
    footer ul li {
        margin-right: 15px;
    }
}